# ##############################
# # Java
# ##############################
.mtj.tmp /
* .класс
* .jar
* .война
* .ухо
* .нар
hs_err_pid *

# ##############################
# # Мейвен
# ##############################
цель /
пом.xml.тег
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.следующий
pom.xml.bak
релиз.свойства
уменьшение зависимости-pom.xml
buildNumber.properties
.mvn / время.свойства
.mvn / обертка / maven-wrapper.jar

# ##############################
# # Грейдл
# ##############################
бин /
построить /
.степень
.gradletasknamecache
gradle-app.setting
! gradle-wrapper.jar

# ##############################
# # IntelliJ
# ##############################
вне /
.идея /
.idea_modules /
* .ИМЛ
* .ипр
* .iws

# ##############################
# # Затмение
# ##############################
.Настройки /
бин /
температура /
.метаданные
.класспуть
.проект
* .tmp
* .бак
* .swp
* ~.nib
местные.свойства
.loadpath
.фабричный путь

# ##############################
# # NetBeans
# ##############################
nbproject / частный /
построить /
nbbuild /
расстояние /
nbрасст /
nbactions.xml
nb-configuration.xml

# ##############################
# # Код Visual Studio
# ##############################
.vscode /
.code-рабочая область

# ##############################
# # ОС Х
# ##############################
.DS_Store